  @import url(http://allfont.es/allfont.css?fonts=overlock);
  body {
  	font-family: Overlock;
  }
  
  #contenedor {
  	color: white;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  }
  
  header {
  	background-color: #5cb85c;
  	position: relative;
  }
  
  .subcontenedor1 {
  	background-color: #5cb85c;
  	height: 50px;
  	display: flex;
  	flex-direction: row;
  	font-size: 16px;
  	min-width: 760px;
  }
  
  #logo {
  	height: 45px;
  	margin-right: 10px;
  }
  
  a:link,
  a:visited {
  	display: block;
  	text-decoration: none;
  }
  /*botones*/
  
  .botones_barra>a {
  	display: inline-block;
  	padding: 13px;
  	transition: all 0.5s;
  	color: #fff;
  }
  
  .botones_barra>a:hover {
  	background-color: #53A653;
  	color: #35ED82;
  	text-decoration: none;
  }
  /*buscador*/
  
  .buscador {
  	margin-top: -3px;
  	width: 200px;
  	display: flex;
  	justify-content: flex-start;
  	margin-right: 0px;
  	margin-left: 0px;
  }
  
  #lupa {
  	height: 15px;
  	margin-top: -5px !important;
  }
  /*para que no joda el buscador*/
  
  @media (min-width: 68px) {
  	.navbar-form {
  		width: auto;
  		padding-top: 0;
  		padding-bottom: 0;
  		margin-right: 0;
  		margin-left: 0;
  		border: 0;
  		-webkit-box-shadow: none;
  		box-shadow: none;
  	}
  }
  /**/
 
  
.subcontenedor2 {
  	display: flex;
  	flex-direction: row;
  	font-size: 15px;
  	background-color: #5cb85c;
  	width: auto;
  	color: white;
	  
  }
  

  .container {
  	margin-top: 50px;
  }
  


  

  
  #user_foto {
  	height: 40px;
  	width: 40px;
  	margin-top: -5px;
  }
  /*por alguna fu#$ razon en buscar_pareja, la img de lupa queda mal.
por eso lo delimito con #tamanio*/
  
  #tamanio {
  	height: 34px;
  }



.navbar {
    
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar-inverse {
    background-color: #5cb85c;

    
}

#logo
{
    height: 45px;
    
    margin-top: -10px;
}
#user_foto
{
    height: 40px;
    width: 40px;
    margin-top: -3px;
    margin-bottom: -1px;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}


.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: #53A653;
}

.navbar-inverse .navbar-toggle, 
.navbar-inverse .navbar-toggle {
    background-color: #53A653;
}

.navbar-right
{
    display: flex;
    justify-content: flex-end;
}


@media (min-width: 768px)
{
.navbar-right {
    float: right!important;
    margin-right: -15px;
    
}
 

}
@media (min-width: 768px)
{
.navbar-nav {
    float: left;
    margin: 0;
}
}


.container-fluid 
{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

#contenedor_corona
{
  position :relative;
    z-index: 4000;
}

#myNavbar>ul>li>a:hover
{
    	color: #35ED82!important;
        background-color: #53A653 !important;
}

.notificaciones
{
    color: white;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    margin-right: -15px;
    margin-left: 15px;
}


.notificaciones:hover
{
     background-color:#53A653;
    color:  #35ED82 ;
}


.ajustar_noti
{
    display: flex;
    justify-content: flex-end;
   
}

li
{
 list-style: none;
}


.container-fluid
{
    height: auto;
}


