
.row
{
    margin-right: 0px;
}
body
{
    width: 100%;
   background-color: #f5f5f5; 
}
navbar-header
{
    width: 100%!important;
}
.panel-default
{
    min-width: 350px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #dff0d8;
    border-color: #ddd;
}
.panel-body
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.img-responsive
{
   display:block;
    margin:auto;
    max-height: 300px;
    max-width: 300px;
    margin-bottom: 10px;
}

