.row
{
    width: 100%;
}
body
{
    background-color: #f5f5f5;
}

/*cuerpo*/
.contenedor2
{
	display:flex;
	padding:20px;
	flex-direction:row;
    justify-content: center;
   
}
.sub_contenedor
{
	width:50%;
	min-height:100px;
    background-color:white;
    min-width: 400px;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.centrar_formu
{	
    padding:5%;
	min-width:380px;
	max-width: 600px;

    margin-top: 5%;
    margin-left: 10%;
}

.centrar_contenido
{
	padding:10%;
    margin-left:15%;

    
}
#tam
{
	height:300px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.botones
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}


.btn-primary
{
	height:50px;
	width:80px;
	font-size:20px;
    
	
}




.btn-success
{
	height:50px;
	width:120px;
	font-size:20px;
     margin-left: 30px;
	
}




@media (max-width: 1030px)
{
   

	.contenedor2
	{
		flex-direction:column;
        margin-left: 10%;
	}
	.sub_contenedor
	{
		width:100%;
	}	
	.centrar_contenido
	{
		padding:0;
		margin-left:20%;
	}
	.botones
	{
		justify-content:center;
	}
    .centrar_formu
    {
         margin-top: 0%;
        margin-left: 0%;
    }
    
    .btn-success
{
	
    margin-right: 0px;
    
	
}
    
}
@media (max-width: 530px)
{
	.centrar_contenido
	{
		margin-left:8%;
		padding-left:0;
	
	}
	.btn-primary
{
	
	margin-left:100px;
}
    .contenedor2
    {
         margin-left: 0%;
    }
}


.crear_perfil_mascota
{
    margin-top: 40px;
    text-align: center;
    color:#337ab7;
    font-size: 40px;
    
}














