#contenedor_barra
{
    width: 90px;
    background-color: #428bca;
    margin-top: 320px;
    margin-left: -75px;
    transition: all 1s;
    position: absolute;
    z-index: 3000;
	border-radius: 30px;
	box-shadow: 10px 10px 10px #c3c8cc;
	

color: white;
}
#contenedor_barra:hover

{   animation-iteration-count:1;
    margin-left: -1%;
   
   
  
}
.encuadre
{
   padding: 10px;
    margin-left: 7px;
    text-align: center;
}
.img_mas
{
    margin-top: 10px;
}






}