body
{
    background-color:  #5cb85c;
}
.contenedor
{
    margin-top: 20px;
}

#foto
{
   
    max-height: 300px;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 20px;
     
}
.sub_contenedor
{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px;
    width: 400px;
    margin: auto;
    
}

.titulo
{
    margin-top: 50px;
    text-align: center;
    color:white;
    font-size: 40px;
}

.logo
{
   
}
.logo_img
{
    height: 150px;
    display: block;
    margin: auto;
}





