.container{
    width: 80% !important;
}

.trank>img{
    
    max-width:50%;
}


.trank:nth-child(2){
    padding:0 4%;
}

@media (min-width: 768px) { 
    
    .trank:nth-child(odd)>h2{
    margin-top:100%;
    }

}

.table{
    text-align: center;
}

.table > thead > tr > th , td{
    text-align: center !important;
}

.table{
    text-align: center;
}

#crown{
    max-width: 30%;
}
