.container{
    width: 80% !important;
}

.trank>img{
    
    max-width:70%;
}

.mascota{
    margin-top: 1%;
    margin-bottom: 1%;
}

.pata{
    
    width: 30%;
    margin: 0 auto;
	margin-top: 100px;
}