body {
	margin: 0 auto;
	mar
	/* background-image: url(../img/fondo.jpg);*/
	background-repeat: no-repeat;
	background-size: 50%;
}

#contenedor {
	display: flex;
	width: 100%;
	flex-direction: row;
	margin: 0 auto;
}

#sub_contenedor {
	float: right;
	width: 100%;
	min-width: 600px;
	bottom: 0;
}

#fondo {
	
	float:right;
	margin-right: 10%;
	height: 725px;
	
	
}

.container {
	width: 400px;
	height: auto;
	text-align: center;
	margin-left: 100px;
	background-color: #006633;
	margin-top: 350px;
	border-radius: 4px;
}

#imagen {
	position: absolute;
	margin-top: 50px;
	margin-left: 100px;
}

.container img {
	width: 140px;
	height: 140px;
	margin-top: -70px;
	margin-bottom: 30px;
}

input {
	height: 35px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
	border: none;
	border-radius: 4px;
}

i {
	position: absolute;
	padding-left: 10px;
	padding-top: 6px;
}

.btn-login {
	height: 40px;
	width: 130px;
	padding: 10px 5px;
	color: #fff;
	border-radius: 4px;
	border: none;
	background-color: #2ECC71;
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 300px) {
	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
	#fondo {
		display: none;
	}
}
