@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
   
  
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
    min-width: 400px;

}

#formu input[type="text"],
#formu input[type="email"],
#formu input[type="tel"],
#formu input[type="url"],
#formu textarea,
#formu button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#formu {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#formu h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#formu h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#formu input[type="text"],
#formu input[type="email"],
#formu input[type="tel"],
#formu input[type="url"],
#formu textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#formu input[type="text"]:hover,
#formu input[type="email"]:hover,
#formu input[type="tel"]:hover,
#formu input[type="url"]:hover,
#formu textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#formu textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#formu button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#formu button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#formu button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#formu input:focus,
#formu textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

#mapa{
    
    width: 500px;
    height: 500px;
    
}
#foto
{
	font-size:15px;
}

#contenedor
{
	display:flex;
	flex-direction:row;
    justify-content: center;
    
}
.sub_contenedor_mapa
{
	text-align:center;
	color:white;
	margin-right:15%;
	font-size:30px;
	margin-top:130px;
	
}

@media (max-width:1400px)
{
    #contenedor
{
	
		margin-right:-10%;
   
    
}
}

@media (max-width:950px)
{
    #contenedor
{
	
flex-direction:column;
   margin-right: 0;
   
    
}
    
    .sub_contenedor_mapa
{
	margin-left: 15%;
	font-size:30px;
	margin-top:0px;
	
}
    
}
.btn-success
{
    color: white !important;
    height: 50px !important;
    width: 310px !important;
    font-size: 25px !important;
    background-color: #4CAF50 !important;
}
