form{
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 2% 2%;
}

.opcsub{
    padding: 1% 2% !important;
    color: #00A683 !important;
    font-size: 1.3em !important;
    margin-right: 1%;
}

.opcpub{
    padding: 2% 2%;
    padding-bottom: 0;
}

#addfile{
    display: none;
}

form > input[type="text"]{
    
}

form > .row {
    margin: 0 auto;
}

.contpub{
    
    margin: 2% auto;
}

.pub{
    margin: 0 auto;
}

.headpanel{
	padding-top: 1%;
	padding-left: 1%;
}

.headpanel > img{
	max-width: 40px;
	display:inline !important;
}

.headpanel > a{
	display:inline !important;
	max-width: 300px;
}

.btn-file{
    padding-right: 0;
    padding-left: 0;
}

.well{
    background-color: white !important;
    border: 1px solid #ddd;
}

#imgizq{
    
    margin-bottom: 10%;
}

#coronader{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.blue{
	color: blue !important;
	border-color: blue !important;
}

.panel{
	
	margin-bottom: 0 !important;
	
}

.panel-body > img {
    
    padding: 1% 1%;
}

.comentarbtn{
	color: black;
    cursor: pointer;
}

.comentarbtn:hover{
	color: blue !important;
    background-color: white;
}
.comentar .form-group{
    
    padding-top: 1%;
}

.comentar input{
    width: 80%;
}

.comentar{
    padding-top: 1% !important;;
}

.fecha{
	color:lightgrey;
	font-size: 0.8em;
}

#inputurl{
    margin: 1% auto !important;
}

.contmedia{
    padding: 1% 1%;
}

/* Flexible iFrame */

.Flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comentario{
	text-align: left !important;
}

.carousel-inner{
	height:370px;
	background: #5cb85c;
}


#adoptar{
	margin-top:10px;
}