body
{
    background-color: #5cb85c;
}
#encuadre
{
        display: flex;
        justify-content: center;
        margin-top: 5%;
        background-color: #5cb85c;
}

.descarga
{
    color:black;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction:column;
    margin-top: 10px;
}

.btn
{
    margin-bottom: 10px;
}
.sub_encuadre
{   
   
    width: 600px;
  
    margin-bottom: 30px;
    background-color: white;
    height: 630px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
