
.card {
   
  
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 300px;
}
.card-background img {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 110%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
	
}
.card.hovercard .useravatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.col-lg-12 {
	padding-left: 0px;
	padding-right: 0px;
}

orm{
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 2% 2%;
}

#addimage{
    width: 30%;
    height: auto;
}

.opcpub{
    padding: 1% 20%;
    padding-bottom: 0;
}

#addfile{
    display: none;
}

form > input[type="text"]{
    
}

form > .row {
    margin: 0 auto;
	text-decoration: none;
}
.contpub{
    
    margin:2% auto;
}

.pub{
    margin: 0 auto;
}

.btn-file{
    padding-right: 0;
    padding-left: 0;
}

.well{
    background-color: white !important;
    border: 1px solid #ddd;
}

#imgizq{
    
    margin-bottom: 10%;
}

#coronader{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.form-control{
	width: 70%;
	margin:0 auto;
}
    .provicional
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}